<div class="show">
  <h1 class="text-center" id="dashboard-header"> <%= @user.username %>'s Portfolio </h3>
  <div class="row-fluid" id="testytest1">
    <div class="col-sm-6">
      <div class="thumbnail" style="margin:0px auto; height:80%; width: 80%;">
        <img src="/replist.jpg" alt="replist">
        <div class="caption" style="text-align: center;">
          <h3>Repertoire</h3>
          <p>List of works performed</p>
          <p><%= button_to "Go", user_pieces_path(@user), method: :get, class:"btn btn-primary add-bottom" %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail" style="margin:0px auto; height:80%; width: 80%;">
        <img src="/performances.jpg" alt="replist">
        <div class="caption" style="text-align: center;">
          <h3>Performances</h3>
          <p>List of performances</p>
          <p><%= button_to "Go", user_performances_path(@user), method: :get, class:"btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
