<h2 class="text-center">Select a Piece to Add</h2>

<div class="col-md-4"></div>
<div class="col-md-4" id: "shrink-me">

<%= bootstrap_form_for [current_user, @piece], :url => "/users/#{current_user.id}/performances/#{params[:performance_id]}/performance_pieces", :html => {:method => :post} do |f| %>

  <%= f.collection_select :title, Piece.where(user_id: current_user.id), :id, :title %>

  <div class="center-me">
    <%= f.submit "Submit" %>
  </div>

<% end %>

</div>
<div class="col-md-4"></div>
