<h3> <%= @user.username %> performances index page </h3>

<% @user.performances.each do |perf| %>
<p> <%= link_to perf.title, user_performance_path(@user, perf) %> </p>
<p> <%= perf.date %> </p>
<% end %>

<%= button_to "Add Performance", new_user_performance_path, :class => "btn btn-success btn-sm", :method => :get %>
